<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ehre.mod.mods.mapper.ModsMapper">
    <insert id="addOtherAuthor">
        insert into mods_other_author (mod_id, author_id) values (#{id}, #{authorId})
    </insert>
    <delete id="deleteOtherAuthor">
        delete from mods_other_author where mod_id = #{id}
    </delete>
    <select id="getOtherAuthors" resultType="java.lang.String">
        select author_id from mods_other_author where mod_id = #{id}
    </select>
    <update id="incrementDownloadCount">
        UPDATE mods
        SET download_count = IFNULL(download_count, 0) + 1,
            updated_at = updated_at
        WHERE id = #{id}
    </update>
    <update id="incrementViewCount">
        UPDATE mods
        SET view_count = IFNULL(view_count, 0) + 1,
            updated_at = updated_at
        WHERE id = #{id}
    </update>
    <insert id="addModTag">
        INSERT INTO mods_tag (mod_id, tag_id) VALUES (#{id}, #{tagId})
    </insert>
    <delete id="deleteModTags">
        DELETE FROM mods_tag WHERE mod_id = #{id}
    </delete>
    <delete id="deleteModTagsByTagId">
        DELETE FROM mods_tag WHERE tag_id = #{tagId}
    </delete>
    <select id="getTags" resultType="top.ehre.mod.tag.domain.vo.TagVO">
        SELECT t.id, t.name, t.color, t.created_at, t.updated_at
        FROM mod_tag t
        INNER JOIN mods_tag mt ON t.id = mt.tag_id
        WHERE mt.mod_id = #{id}
        ORDER BY t.id
    </select>
</mapper>
